<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcia.pt.mapper.JudgeQuestionMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert judge_question(exam_id,question,answer,analysis,score) values(#{examId}, #{question}, #{answer}, #{analysis}, #{score});
    </insert>

    <select id="isExistById" resultType="java.lang.Boolean">
        select count(1) from judge_question where id = #{id} and is_deleted = 0;
    </select>

    <select id="isExistByExamIdAndQuestion" resultType="java.lang.Boolean">
        select count(1) from judge_question where exam_id = #{examId} and question = #{question} and is_deleted = 0;
    </select>

    <select id="isExistByNonIdAndExamIdAndQuestion" resultType="java.lang.Boolean">
        select count(1) from judge_question where id != #{id} and exam_id = #{examId} and question = #{question} and is_deleted = 0;
    </select>

    <select id="isExistByIdAndExamId" resultType="java.lang.Boolean">
        select count(1) from judge_question where exam_id = #{examId} and id = #{id} and is_deleted = 0;
    </select>

    <update id="delete">
        update judge_question set is_deleted = 1 where id = #{id} and is_deleted = 0;
    </update>

    <update id="update">
        update judge_question set exam_id = #{examId}, question = #{question}, answer = #{answer}, analysis = #{analysis}, score = #{score}
        where id = #{id} and is_deleted = 0;
    </update>

    <select id="getById" resultType="JudgeQuestion">
        select jq.id as id, jq.exam_id as exam_id, e.name as exam_name, jq.question as question, jq.answer as answer,
        jq.analysis as analysis, jq.score as score, jq.updated_at as updated_at, jq.is_deleted as is_deleted
        from judge_question jq left join exam e on jq.exam_id = e.id
        where jq.id = #{id} and jq.is_deleted = 0 and e.is_deleted = 0;
    </select>

    <select id="getAll" resultType="JudgeQuestion">
        select jq.id as id, jq.exam_id as exam_id, e.name as exam_name, jq.question as question, jq.answer as answer,
        jq.analysis as analysis, jq.score as score, jq.updated_at as updated_at, jq.is_deleted as is_deleted
        from judge_question jq left join exam e on jq.exam_id = e.id
        <where>
            jq.exam_id = #{examId} and jq.is_deleted = 0 and e.is_deleted = 0
            <if test="question != null and question != ''">
                and jq.question like '%${question}%'
            </if>
        </where>
        order by jq.updated_at desc
    </select>

</mapper>