<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcia.pt.mapper.UserMapper">

    <resultMap id="UserResultMap" type="User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="enabled" column="enabled" />
        <result column="account_non_expired" property="accountNonExpired" />
        <result column="account_non_locked" property="accountNonLocked" />
        <result column="credentials_non_expired" property="credentialsNonExpired" />

        <collection property="roles" ofType="Role">
            <id column="r_id" property="id" />
            <result column="r_name" property="name" />
            <result column="r_name_zh" property="nameZh" />
        </collection>
    </resultMap>

    <select id="loadUserByUserId" resultMap="UserResultMap">
        select u.id, u.username, u.password, u.enabled, u.account_non_expired, u.account_non_locked, u.credentials_non_expired,
        r.id as r_id, r.name as r_name, r.name_zh as r_name_zh
        from user u
        left join user_role ur on u.id = ur.uid left join role r on r.id = ur.rid
        where u.id = #{userId}
    </select>

</mapper>